{% extends 'layouts/main.html' %}
{% block title %}CRC2019 Home{% endblock %}
{% block content %}

	<div style="height:150px;margin-left:-350px;width:200%;background:#66CCCC;">
		<p style="margin-left:50px;font-size:45px;color:white;font-weight:900;">CLINICAL RHEUMATOLOGY<br>
		CONFERENCE 2019</p>
	</div>

	<div align="left" style="height:100px;margin-left:-350px;width:200%;background:#009ACD;">
		<p style="font-size:30px; color:white; margin-left: 50px;">DATE: 5TH & 6TH JAN, 2019 (SATURDAY & SUNDAY)<br>
			VENUE: BLOCK - 3, 15TH FLOOR (AUDITORIUM), KIMS HOSPITALS<sup>TM</sup>, SECUNDERABAD
		</p>
	</div><br>

	<div>
		<center><p><b>ORGANIZED BY: <span style="color:#009ACD">DEPARTMENT OF RHEUMATOLOGY & CLINICAL IMMUNOLOGY</span><br>
			KIMS HOSPITALS<sup>TM</sup>, SECUNDERABAD<br><br>
			IN ASSOCIATION WITH<br>
			<span style="color:#009ACD">RHEUMATOLOGY ASSOCIATION, HYDERABAD CHAPTER</span><br><br>

			<p style="font-size:20px;color:red;font-weight:900">CME CREDIT HOURS WILL BE AWARDED</p>
		</b></p></center>
	</div>
{% endblock %}
